In [1]:
import pandas as pd
import numpy as np 
import openpyxl
from pathlib import Path

In [2]:
#Import data
df = pd.read_excel(r'C:\Users\Acer\OneDrive - Institut Teknologi Bandung\Magang BI\Data\Web Scraping Hotel\data fix 2\data_fix_Yogyakarta2.xlsx', sheet_name="Hotel_2",engine = "openpyxl")
data = np.array(df)

df2 = pd.read_excel(r'C:\Users\Acer\OneDrive - Institut Teknologi Bandung\Magang BI\Data\Web Scraping Hotel\data fix\Kota.xlsx', sheet_name="Yogyakarta",engine = "openpyxl")
data2 = np.array(df2)

In [3]:
for i in range (2,len(data[:,0])):
    for j in range(len(data2[:,0])):
        if data[i,1]==data2[j,0]:
            data[i,97]=data2[j,1]

In [4]:
df_data = pd.DataFrame(data)
print(df_data)
df_data.to_excel(r"C:\Users\Acer\Downloads\data_daerah.xlsx")

                                                    0   \
0                                                  NaN
1                                                  NaN
2                              Griya Godean Yogyakarta
3                               Jogja Backpacker Rooms
4                             Hotel Karunia Yogyakarta
..                                                 ...
437   GRAND ASTON Hotel & Convention Center Yogyakarta
438  Griya Persada Convention Hotel & Resort Kaliurang
439                                Crystal Lotus Hotel
440           Sahid Raya Hotel & Convention Yogyakarta
441                                      Hotel Virgo 2

                                        1   \
0                                      NaN
1                                      NaN
2             Kasihan, Yogyakarta Province
3            Ngemplak, Yogyakarta Province
4    Malioboro Street, Yogyakarta Province
..                                     ...
437      Gondokusuman, Yogyakarta Province
438         Kaliurang, Yogyakarta Province
439             Mlati, Yogyakarta Province
440             Depok, Yogyakarta Province
441  Malioboro Street, Yogyakarta Province

                                                    2       3    4        5   \
0                                                  NaN     NaN  NaN      H+1
1                                                  NaN     NaN  NaN     1112
2    Jalan Godean Km 4 No.10, Kasihan, Yogyakarta, ...  HOTELS    0      NaN
3    Desa Nglarang, Malangrejo, Wedomartani, Ngempl...  HOTELS    0   180000
4    Jalan Sosrowijayan 78, Malioboro Street, Yogya...  HOTELS    0   133333
..                                                 ...     ...  ...      ...
437  Jalan Urip Sumoharjo No.37, Gondokusuman, Yogy...  HOTELS    5  1877333
438  Jln. Boyong 99, Kaliurang Barat, Pakem, Kaliur...  HOTELS    4  3400000
439  Jl. Magelang KM 5.2 Sinduadi, Mlati, Sleman, M...  HOTELS    4   774604
440  Jalan Babarsari, Tambakbayan, Caturtunggal Dep...  HOTELS    4   514568
441  Sosrowijayan Wetan GG.11 GT 1 No. 148D, Maliob...  HOTELS    0      NaN

           6            7            8            9   ...   88           89  \
0         NaN          NaN          NaN          NaN  ...  NaN          NaN
1        1113         1114         1115         1116  ...  NaN          NaN
2         NaN          NaN          NaN          NaN  ...  NaN        99000
3      180000       180000       180000       180000  ...  NaN        99000
4         NaN       133333       133333       133333  ...  NaN       100000
..        ...          ...          ...          ...  ...  ...          ...
437  5.56e+06    1.408e+06  1.52533e+06  1.52533e+06  ...    1  5.55556e+06
438   3.4e+06  1.66667e+06       550000       550000  ...    1   2.5375e+06
439   4.5e+06       753968       680953       637036  ...    1       750000
440       NaN       500000       500000       550000  ...  NaN     3.15e+06
441       NaN       200000       186667       186667  ...  NaN       150000

         90       91         92      93       94   95   96          97
0       NaN      NaN        NaN     NaN      NaN  NaN  NaN         NaN
1       NaN      NaN        NaN     NaN      NaN  NaN  NaN         NaN
2     99000        1     102599   99001  1.03634    1    0      Bantul
3     99000        1      99000   99000        1    1    0      Sleman
4    100000        1     100000  100000        1    1    0  Yogyakarta
..      ...      ...        ...     ...      ...  ...  ...         ...
437  844800  6.57618  1.408e+06  836000  1.68421    0    1  Yogyakarta
438  385000  6.59091   2.38e+06  315000  7.55556    0    1      Sleman
439  476667  1.57343     722222  444444    1.625    1    0      Sleman
440  360000     8.75     850000  340000      2.5    0    1      Sleman
441  140000  1.07143     150000  140000  1.07143    1    0  Yogyakarta

[442 rows x 98 columns]