In [1]:
from selenium import webdriver
from time import sleep
import pandas as pd
import openpyxl
import numpy as np
import random as rand

In [2]:
#Import data
df1 = pd.read_excel(r'C:\Users\Acer\OneDrive - Institut Teknologi Bandung\Magang BI\Data\Web Scraping Hotel\data fix\data_fix_JawaTimur.xlsx', sheet_name="Sheet1",engine = "openpyxl")
data1 = np.array(df1)

In [3]:
#Buka Traveloka
link = "https://www.traveloka.com/en-id/hotel/search?spec=22-11-2021.23-11-2021.1.1.HOTEL_GEO.103130.East%20Java.2"
path = "C:\Program Files (x86)\chromedriver.exe"
driver = webdriver.Chrome(path)
driver.get(link)

for i in range(2061,len(data1[:,1])):
    waktu = rand.randrange(5,7)
    #Masukkan dan cari nama hotel
    sleep(waktu)
    search_button = driver.find_element_by_class_name("_1VnvT")
    input_hotel = search_button.find_element_by_xpath("/html/body/div[1]/div[2]/div/div[2]/div[2]/div[3]/div[2]/div[2]/div/div[2]/div/div[3]/div/div[1]/label/div/div/div[2]/div/input")
    input_hotel.send_keys(data1[i,1])
    hasil = driver.find_element_by_xpath("/html/body/div[1]/div[2]/div/div[2]/div[2]/div[3]/div[2]/div[2]/div/div[2]/div/div[3]/div/div[2]/div/div/div[2]/div")
    hasil.click()
    sleep(waktu)
    hotel = driver.find_element_by_xpath("/html/body/div[1]/div[2]/div/div[2]/div[2]/div[3]/div[2]/div[3]/div[1]/div")
    hotel.click()

    #Ambil data hotel
    try:
        sleep(waktu)
        driver.switch_to.window(driver.window_handles[1])
        tipe = driver.find_element_by_class_name("_1kzbT")
        alamat = driver.find_element_by_class_name("_1I8E_")
        fasilitas = driver.find_elements_by_class_name("ImD1q") 

        data1[i,4] = tipe.text
        data1[i,3] = alamat.text
        data1[i,71] = ""
        for j in range (len(fasilitas)):
            data1[i,71] = str(data1[i,71]) + fasilitas[j].text + ","

        #tutup tab
        driver.close()
        driver.switch_to.window(driver.window_handles[0]) 
    except:
        continue

In [4]:
df_data = pd.DataFrame(data1)
print(df_data)
df_data.to_excel(r"C:\Users\Acer\Downloads\data_JawaTImur_lengkap.xlsx")

       0                                                  1   \
0     NaN                                                NaN
1     NaN                                                NaN
2     NaN                                             @thome
3     NaN  1BR Premium Apartment at Grand Sungkono Lagoon...
4     NaN                      2 Bedroom at Griya Sidomakmur
...   ...                                                ...
2210  NaN                             Yustin Family Homestay
2211  NaN                              Zamzam Hotel & Resort
2212  NaN                               Zest Hotel Jemursari
2213  NaN                            ZOOM Dharmahusada Hotel
2214  NaN                               ZOOM Hotel Jemursari

                               2   \
0                             NaN
1                             NaN
2                Ampel, East Java
3        Sukomanunggal, East Java
4                  Dau, East Java
...                           ...
2210           Tumpang, East Java
2211              Batu, East Java
2212  Tenggilis Mejoyo, East Java
2213            Gubeng, East Java
2214          Wonocolo, East Java

                                                     3             4    5   \
0                                                   NaN           NaN  NaN
1                                                   NaN           NaN  NaN
2     Jalan Gembong No.36 M (Pertokoan Atoom Megah),...  GUEST HOUSES    1
3     Grand Sungkono Lagoon, Jalan KH Abdul Wahab Si...    APARTMENTS    0
4     Jalan sidomakmur no 7, dau sengkaling. Batu Ma...        VILLAS    0
...                                                 ...           ...  ...
2210  Jl. Raya Tulus Ayu, Kecamatan Tumpang, Tumpang...     HOMESTAYS    0
2211  Jln. Abdul Gani Atas No. 9, Batu, Malang, Jawa...        HOTELS    4
2212  Jalan Raya Prapen 266, Tenggilis Mejoyo, Surab...        HOTELS    2
2213  Jalan Dharmahusada .No.188, Gubeng, Surabaya, ...        HOTELS    3
2214  Raya Jemursari 109 B-C, Wonocolo, Surabaya, Ja...        HOTELS    3

          6       7            8            9   ...    63    64    65    66  \
0       1019     NaN         1020          NaN  ...  1024  1025  1026  1027
1       1020    1027         1021         1028  ...   NaN   NaN   NaN   NaN
2     110000  110000       110000       110000  ...   7.2   7.2   7.2   7.2
3        NaN     NaN          NaN          NaN  ...   NaN   NaN   NaN   NaN
4        NaN     NaN  3.21333e+06  3.21333e+06  ...     0     0     0     0
...      ...     ...          ...          ...  ...   ...   ...   ...   ...
2210  266667  266667       266667       266667  ...   8.7   8.7   8.7   8.7
2211  666667  666667       533333       533333  ...   8.4   8.4   8.4   8.4
2212  306665  306665       306665       306665  ...   8.4   8.4   8.4   8.4
2213  426667  426667       426667       426667  ...   8.5   8.5   8.5   8.5
2214  306665  335467       306665       306665  ...   8.2   8.2   8.2   8.2

        67    68    69    70  \
0     1028  1029  1030  1031
1      NaN   NaN   NaN   NaN
2      7.2   7.2   7.2   7.2
3      NaN   NaN   NaN     0
4        0     0     0     0
...    ...   ...   ...   ...
2210   8.7   8.7   8.7   8.7
2211   8.4   8.4   8.4   8.3
2212   8.4   8.4   8.4   8.4
2213   8.5   8.5   8.5   8.5
2214   8.2   8.2   8.2   8.2

                                                     71   72
0                                                   NaN  NaN
1                                                   NaN  NaN
2                   AC,24-Hour Front Desk,Parking,WiFi,  NaN
3         AC,Restaurant,Swimming Pool,Parking,Elevator,  NaN
4                   AC,24-Hour Front Desk,Parking,WiFi,  NaN
...                                                 ...  ...
2210                                           Parking,  NaN
2211  AC,Restaurant,Swimming Pool,24-Hour Front Desk...  NaN
2212               AC,Restaurant,Parking,Elevator,WiFi,  NaN
2213  AC,Restaurant,24-Hour Front Desk,Parking,Eleva...  NaN
2214  AC,Restaurant,24-Hour Front Desk,Parking,Eleva...  NaN

[2215 rows x 73 columns]

In [5]:
print(i)

2214