In [1]:
from selenium import webdriver
from time import sleep
import pandas as pd
import openpyxl
import numpy as np
import random as rand

In [2]:
#Import data
df1 = pd.read_excel(r'C:\Users\Acer\OneDrive - Institut Teknologi Bandung\Magang BI\Data\Web Scraping Hotel\data fix\data_fix_Yogyakarta.xlsx', sheet_name="Sheet1",engine = "openpyxl")
data1 = np.array(df1)

In [3]:
#Buka Traveloka
link = "https://www.traveloka.com/en-id/hotel/search?spec=22-11-2021.23-11-2021.1.1.HOTEL_GEO.107409.Yogyakarta%20Province.2"
path = "C:\Program Files (x86)\chromedriver.exe"
driver = webdriver.Chrome(path)
driver.get(link)

for i in range(1345,len(data1[:,1])):
    waktu = rand.randrange(5,7)
    #Masukkan dan cari nama hotel
    sleep(waktu)
    search_button = driver.find_element_by_class_name("_1VnvT")
    input_hotel = search_button.find_element_by_xpath("/html/body/div[1]/div[2]/div/div[2]/div[2]/div[3]/div[2]/div[2]/div/div[2]/div/div[3]/div/div[1]/label/div/div/div[2]/div/input")
    input_hotel.send_keys(data1[i,1])
    hasil = driver.find_element_by_xpath("/html/body/div[1]/div[2]/div/div[2]/div[2]/div[3]/div[2]/div[2]/div/div[2]/div/div[3]/div/div[2]/div/div/div[2]/div")
    hasil.click()
    sleep(waktu)
    hotel = driver.find_element_by_xpath("/html/body/div[1]/div[2]/div/div[2]/div[2]/div[3]/div[2]/div[3]/div[1]/div")
    hotel.click()

    #Ambil data hotel
    try:
        sleep(waktu)
        driver.switch_to.window(driver.window_handles[1])
        tipe = driver.find_element_by_class_name("_1kzbT")
        alamat = driver.find_element_by_class_name("_1I8E_")
        fasilitas = driver.find_elements_by_class_name("ImD1q") 

        data1[i,4] = tipe.text
        data1[i,3] = alamat.text
        data1[i,71] = ""
        for j in range (len(fasilitas)):
            data1[i,71] = str(data1[i,71]) + fasilitas[j].text + ","

        #tutup tab
        driver.close()
        driver.switch_to.window(driver.window_handles[0]) 
    except:
        continue

In [4]:
df_data = pd.DataFrame(data1)
print(df_data)
df_data.to_excel(r"C:\Users\Acer\Downloads\data_Yogyakarta_lengkap.xlsx")

       0                                      1   \
0     NaN                                    NaN
1     NaN                                    NaN
2     NaN                 @HOM Platinum Gowongan
3     NaN                   @HOM Premiere Timoho
4     NaN          @K Hotel Kaliurang Yogyakarta
...   ...                                    ...
1395  NaN                            Yobel Hotel
1396  NaN              Yogyakarta Marriott Hotel
1397  NaN  Zaitun Syariah Guest House Yogyakarta
1398  NaN                                ZE Spot
1399  NaN                  Zest Hotel Yogyakarta

                                   2   \
0                                 NaN
1                                 NaN
2          Jetis, Yogyakarta Province
3     Umbulharjo, Yogyakarta Province
4      Kaliurang, Yogyakarta Province
...                               ...
1395       Jetis, Yogyakarta Province
1396       Depok, Yogyakarta Province
1397     Gamping, Yogyakarta Province
1398       Depok, Yogyakarta Province
1399  Pakualaman, Yogyakarta Province

                                                     3             4    5   \
0                                                   NaN           NaN  NaN
1                                                   NaN           NaN  NaN
2     Jl. Pantai Sel. Jawa, Tepus, Kabupaten Gunung ...     HOMESTAYS    3
3     Jalan Ipda Tut Harsono No.24, Muja Muju, Umbul...        HOTELS    3
4     Jalan Tlogo Putri, Kaliurang, Sleman, Yogyakar...        HOTELS    4
...                                                 ...           ...  ...
1395  Jalan Pakuningratan No. 24, Jetis, Yogyakarta,...        HOTELS    1
1396  Jl. Ring Road Utara, Condong Catur, Depok, Yog...        HOTELS    5
1397  Jalan Tata Bumi Selatan No. 111E, Komplek Mesj...  GUEST HOUSES    0
1398  Jl. Nangka II No. 6 ,Karangnongko, Maguwoharjo...        HOTELS    0
1399  Jalan Gajah Mada No. 28, Pakualaman, Yogyakart...        HOTELS    2

               6            7            8            9   ...    63    64  \
0            1019          NaN         1020          NaN  ...  1024  1025
1            1020         1027         1021         1028  ...   NaN   NaN
2          557753       557753       569496       569496  ...     0     0
3          713333       486372       434447       810000  ...   8.6   8.6
4          672000       805813       699999       666668  ...   8.4   8.4
...           ...          ...          ...          ...  ...   ...   ...
1395       267738       267738       267738       267738  ...   8.8   8.8
1396  2.30937e+06  2.01868e+06  2.19633e+06  2.08328e+06  ...     9     9
1397       466667          NaN          NaN          NaN  ...     0     0
1398       266665       266665       266665       266665  ...     0     0
1399       313333       313333       313333       313333  ...   8.4   8.4

        65    66    67    68    69    70  \
0     1026  1027  1028  1029  1030  1031
1      NaN   NaN   NaN   NaN   NaN   NaN
2        0     0   NaN   NaN     0     0
3      8.6   8.6   8.6   NaN   8.6   8.6
4      8.4   8.4   8.4   8.4   8.4   8.4
...    ...   ...   ...   ...   ...   ...
1395   8.8   8.8   8.8   8.8   8.8   8.8
1396     9     9     9     9     9     9
1397     0     0     0     0     0     0
1398     0     0     0     0     0     0
1399   8.4   8.4   8.4   8.4   8.4   8.4

                                                     71   72
0                                                   NaN  NaN
1                                                   NaN  NaN
2                Restaurant,24-Hour Front Desk,Parking,  NaN
3     AC,Restaurant,Swimming Pool,24-Hour Front Desk...  NaN
4     AC,Restaurant,Swimming Pool,24-Hour Front Desk...  NaN
...                                                 ...  ...
1395                                   AC,Parking,WiFi,  NaN
1396  AC,Restaurant,Swimming Pool,24-Hour Front Desk...  NaN
1397                                   AC,Parking,WiFi,  NaN
1398                AC,24-Hour Front Desk,Parking,WiFi,  NaN
1399  AC,Restaurant,Swimming Pool,24-Hour Front Desk...  NaN

[1400 rows x 73 columns]

In [5]:
print(i)

1399