In [1]:
import pandas as pd
import numpy as np 
import openpyxl
from pathlib import Path

In [2]:
#Import data
df = pd.read_excel(r'C:\Users\Acer\OneDrive - Institut Teknologi Bandung\Magang BI\Data\Web Scraping Hotel\data panel\H_7_Yogyakarta.xlsx', sheet_name="Sheet1",engine = "openpyxl")
data = np.array(df)
kota = df.columns[22:]

In [3]:
for i in range (len(data[:,0])):
    for j in range (len(kota)):
        if data[i,3] == kota[j]:
            data[i,22+j]=1
        else:
            data[i,22+j]=0

In [4]:
df_data = pd.DataFrame(data)
print(df_data)
df_data.to_excel(r"C:\Users\Acer\Downloads\data_daerah.xlsx")

                           0     1       2           3  4    5       6   \
0      Jogja Backpacker Rooms  1027   99000      sleman  0  8.2 -7.7475
1      Jogja Backpacker Rooms  1028   99000      sleman  0  8.2 -7.7475
2      Jogja Backpacker Rooms  1029   99000      sleman  0  8.2 -7.7475
3      Jogja Backpacker Rooms  1030   99000      sleman  0  8.2 -7.7475
4      Jogja Backpacker Rooms  1031   99000      sleman  0  8.2 -7.7475
...                       ...   ...     ...         ... ..  ...     ...
10219           Hotel Virgo 2  1124     NaN  yogyakarta  0  8.2 -7.7906
10220           Hotel Virgo 2  1125     NaN  yogyakarta  0  8.2 -7.7906
10221           Hotel Virgo 2  1126  150000  yogyakarta  0  8.2 -7.7906
10222           Hotel Virgo 2  1127  150000  yogyakarta  0  8.2 -7.7906
10223           Hotel Virgo 2  1128  150000  yogyakarta  0  8.2 -7.7906

            7            8            9   ... 17 18 19 20 21 22 23 24 25 26
0      110.421    0.0143625      76331.8  ...  1  1  0  1  0  1  0  0  0  0
1      110.421    0.0143625      85451.6  ...  1  1  0  1  0  1  0  0  0  0
2      110.421    0.0143625      87349.3  ...  1  1  0  1  0  1  0  0  0  0
3      110.421    0.0143625      89652.7  ...  1  1  0  1  0  1  0  0  0  0
4      110.421    0.0143625        88306  ...  1  1  0  1  0  1  0  0  0  0
...        ...          ...          ...  ... .. .. .. .. .. .. .. .. .. ..
10219  110.364  0.000873962       993229  ...  1  0  0  1  0  0  1  0  0  0
10220  110.364  0.000873962  1.03419e+06  ...  1  0  0  1  0  0  1  0  0  0
10221  110.364  0.000873962       503053  ...  1  0  0  1  0  0  1  0  0  0
10222  110.364  0.000873962       589375  ...  1  0  0  1  0  0  1  0  0  0
10223  110.364  0.000873962       297746  ...  1  0  0  1  0  0  1  0  0  0

[10224 rows x 27 columns]