In [1]:
import pandas as pd
import numpy as np 
import openpyxl
from pathlib import Path

In [2]:
#Import data
df = pd.read_excel(r'C:\Users\Acer\OneDrive - Institut Teknologi Bandung\Magang BI\Data\Web Scraping Hotel\data fix\data_fix_Yogyakarta.xlsx', sheet_name="Hotel_2",engine = "openpyxl")
data = np.array(df)

In [3]:
#Banten H+7
panel = np.full([(13*len(data[2:,0])),22],np.nan,dtype=object)
harga = data[2:,44:57]
tanggal = data[1,44:57]
rating = data[2:,57:70]
P_D = data[2:,87:100]

#Masukin harga & rating
a = 0
for i in range (len(harga[:,0])):
    for j in range (len(harga[0,:])):
        panel[a,2] = harga[i,j]
        panel[a,5] = rating[i,j]
        panel[a,9] = P_D[i,j]
        a = a + 1
        
#Masukin data lain
a = 0
b = 2
for h in range (int(len(panel[:,2])/len(tanggal))):
    for i in range (len(tanggal)):
        panel[i+a,1] = tanggal[i] #tanggal
        panel[i+a,0] = data[b,0] #Nama hotel
        panel[i+a,3] = data[b,118] #Daerah
        panel[i+a,4] = data[b,4] #Bintang
        panel[i+a,6] = data[b,71] #Latitude
        panel[i+a,7] = data[b,72] #Longitude
        panel[i+a,8] = data[b,73] #LD
        panel[i+a,10] = 1 #Oktober
        panel[i+a,11] = 0 #November
        panel[i+a,13:20] = data[b,103:110] #Fasilitas
        panel[i+a,20:22] = data[b,116:118] #Tipe kamar
    a = a + 13
    b = b + 1

#Masukin weekend
for i in range(len(panel[:,1])):
    if panel[i,1] == 1030 or panel[i,1] == 1031 or panel[i,1] == 1106 or panel[i,1] == 1107:
        panel[i,12] = 1
    else:
        panel[i,12] = 0

In [4]:
df_panel = pd.DataFrame(panel)
print(df_panel)
df_panel.to_excel(r"C:\Users\Acer\Downloads\panel_data_h7_1.xlsx")

                                 0     1       2           3  4    5   \
0            Jogja Backpacker Rooms  1027   99000      sleman  0  8.2
1            Jogja Backpacker Rooms  1028   99000      sleman  0  8.2
2            Jogja Backpacker Rooms  1029   99000      sleman  0  8.2
3            Jogja Backpacker Rooms  1030   99000      sleman  0  8.2
4            Jogja Backpacker Rooms  1031   99000      sleman  0  8.2
...                             ...   ...     ...         ... ..  ...
5819  POP! Hotel Timoho, Yogyakarta  1104  225600  yogyakarta  2  8.5
5820  POP! Hotel Timoho, Yogyakarta  1105     NaN  yogyakarta  2  8.5
5821  POP! Hotel Timoho, Yogyakarta  1106     NaN  yogyakarta  2  8.5
5822  POP! Hotel Timoho, Yogyakarta  1107  225600  yogyakarta  2  8.5
5823  POP! Hotel Timoho, Yogyakarta  1108  225600  yogyakarta  2  8.5

           6        7           8        9   ... 12 13 14 15 16 17 18 19 20 21
0     -7.7475  110.421   0.0143625  76331.8  ...  0  1  1  1  0  1  1  0  1  0
1     -7.7475  110.421   0.0143625  85451.6  ...  0  1  1  1  0  1  1  0  1  0
2     -7.7475  110.421   0.0143625  87349.3  ...  0  1  1  1  0  1  1  0  1  0
3     -7.7475  110.421   0.0143625  89652.7  ...  1  1  1  1  0  1  1  0  1  0
4     -7.7475  110.421   0.0143625    88306  ...  1  1  1  1  0  1  1  0  1  0
...       ...      ...         ...      ...  ... .. .. .. .. .. .. .. .. .. ..
5819 -7.79862  110.391  0.00373282  97293.6  ...  0  1  0  1  1  1  1  0  1  0
5820 -7.79862  110.391  0.00373282      NaN  ...  0  1  0  1  1  1  1  0  1  0
5821 -7.79862  110.391  0.00373282      NaN  ...  1  1  0  1  1  1  1  0  1  0
5822 -7.79862  110.391  0.00373282    95454  ...  1  1  0  1  1  1  1  0  1  0
5823 -7.79862  110.391  0.00373282  94792.8  ...  0  1  0  1  1  1  1  0  1  0

[5824 rows x 22 columns]