In [1]:
import pandas as pd
import numpy as np 
import openpyxl
from pathlib import Path

In [2]:
#Import data
df = pd.read_excel(r'C:\Users\Acer\OneDrive - Institut Teknologi Bandung\Magang BI\Data\Web Scraping Hotel\data fix 2\data_fix_Yogyakarta2.xlsx', sheet_name="Hotel_2",engine = "openpyxl")
data = np.array(df)

In [3]:
#Banten H+1
panel = np.full([(10*len(data[2:,0])),22],np.nan,dtype=object)
harga = data[2:,25:35]
tanggal = data[1,25:35]
rating = data[2:,45:55]
P_D = data[2:,59:69]

#Masukin harga, rating, dan price different
a = 0
for i in range (len(harga[:,0])):
    for j in range (len(harga[0,:])):
        panel[a,2] = harga[i,j]
        panel[a,5] = rating[i,j]
        panel[a,9] = P_D[i,j]
        a = a + 1
        
#Masukin data lain
a = 0
b = 2
for h in range (int(len(panel[:,2])/len(tanggal))):
    for i in range (len(tanggal)):
        panel[i+a,1] = tanggal[i] #tanggal
        panel[i+a,0] = data[b,0] #Nama hotel
        panel[i+a,3] = data[b,97] #Daerah
        panel[i+a,4] = data[b,4] #Bintang
        panel[i+a,6] = data[b,56] #Latitude
        panel[i+a,7] = data[b,57] #Longitude
        panel[i+a,8] = data[b,58] #LD
        panel[i+a,10] = 0 #Oktober
        panel[i+a,11] = 1 #November
        panel[i+a,13:20] = data[b,82:89] #Faslitas
        panel[i+a,20:22] = data[b,95:97] #Tipe kamar
        
    a = a + 10
    b = b + 1

#Masukin weekend
for i in range(len(panel[:,1])):
    if panel[i,1] == 1113 or panel[i,1] == 1114 or panel[i,1] == 1120 or panel[i,1] == 1121:
        panel[i,12] = 1
    else:
        panel[i,12] = 0

In [4]:
df_panel = pd.DataFrame(panel)
print(df_panel)
df_panel.to_excel(r"C:\Users\Acer\Downloads\panel_data_h1_2.xlsx")

                           0     1       2           3  4    5        6   \
0     Griya Godean Yogyakarta  1112     NaN      bantul  0  6.4 -7.78035
1     Griya Godean Yogyakarta  1113     NaN      bantul  0  6.4 -7.78035
2     Griya Godean Yogyakarta  1114     NaN      bantul  0  6.4 -7.78035
3     Griya Godean Yogyakarta  1115     NaN      bantul  0  6.4 -7.78035
4     Griya Godean Yogyakarta  1116     NaN      bantul  0  6.4 -7.78035
...                       ...   ...     ...         ... ..  ...      ...
4395            Hotel Virgo 2  1117  140000  yogyakarta  0  8.2  -7.7906
4396            Hotel Virgo 2  1118     NaN  yogyakarta  0  8.2  -7.7906
4397            Hotel Virgo 2  1119     NaN  yogyakarta  0  8.2  -7.7906
4398            Hotel Virgo 2  1120     NaN  yogyakarta  0  8.2  -7.7906
4399            Hotel Virgo 2  1121  150000  yogyakarta  0  8.2  -7.7906

           7            8       9   ... 12 13 14 15 16 17 18 19 20 21
0     110.347    0.0142096     NaN  ...  0  0  0  0  0  1  0  0  1  0
1     110.347    0.0142096     NaN  ...  1  0  0  0  0  1  0  0  1  0
2     110.347    0.0142096     NaN  ...  1  0  0  0  0  1  0  0  1  0
3     110.347    0.0142096     NaN  ...  0  0  0  0  0  1  0  0  1  0
4     110.347    0.0142096     NaN  ...  0  0  0  0  0  1  0  0  1  0
...       ...          ...     ...  ... .. .. .. .. .. .. .. .. .. ..
4395  110.364  0.000873962  290760  ...  0  1  0  1  0  1  0  0  1  0
4396  110.364  0.000873962  901386  ...  0  1  0  1  0  1  0  0  1  0
4397  110.364  0.000873962     NaN  ...  0  1  0  1  0  1  0  0  1  0
4398  110.364  0.000873962     NaN  ...  1  1  0  1  0  1  0  0  1  0
4399  110.364  0.000873962  354095  ...  1  1  0  1  0  1  0  0  1  0

[4400 rows x 22 columns]