In [1]:
import pandas as pd
import numpy as np 
import openpyxl
from pathlib import Path

In [2]:
#Import data
df1 = pd.read_excel(r'C:\Users\Acer\OneDrive - Institut Teknologi Bandung\Magang BI\Data\Web Scraping Hotel\data fix\data_fix_Yogyakarta.xlsx', sheet_name="Meta Hotel",engine = "openpyxl")
data1 = np.array(df1)
#print(df1)

In [3]:
baris = len(data1[1:,0])
kolom = 13
awal_h_1 = np.zeros((baris,kolom))
awal_h_7 = np.zeros((baris,kolom))
diskon_h_1 = np.zeros((baris,kolom))
diskon_h_7 = np.zeros((baris,kolom))

In [4]:
a = 0
b = 0
c = 0
d = 0

for i in range (5,57):
    if i%2 != 0 and i<=30:
        awal_h_1[:,a]=data1[1:,i]
        a = a + 1
    elif i%2 == 0 and i<=30:
        awal_h_7[:,b]=data1[1:,i]
        b = b + 1
    elif i%2 != 0 and i>=31:
        diskon_h_1[:,c]=data1[1:,i]
        c = c + 1
    elif i%2 == 0 and i>=31:
        diskon_h_7[:,d]=data1[1:,i]
        d = d + 1

x = np.concatenate((awal_h_1,awal_h_7,diskon_h_1,diskon_h_7),axis=1)
data1[1:,5:57] = x

In [5]:
df_data = pd.DataFrame(data1)
print(df_data)
df_data.to_excel(r"C:\Users\Acer\Downloads\data_rapi_jakarta_H.xlsx")

                                               0   \
0                                             NaN
1                                             NaN
2    OYO 1959 Penginapan Kepurun Pawana Indonesia
3                       Queen of The South Resort
4                                     YATS Colony
..                                            ...
446                         Uniq Hotel Yogyakarta
447                   Votel Maerakatja Yogyakarta
448                   Yellow Star Ambarukmo Hotel
449                     Yellow Star Gejayan Hotel
450                                       ZE Spot

                                    1   \
0                                  NaN
1                                  NaN
2          Sleman, Yogyakarta Province
3    Parangtritis, Yogyakarta Province
4      Wirobrajan, Yogyakarta Province
..                                 ...
446     Tegalrejo, Yogyakarta Province
447     Tegalrejo, Yogyakarta Province
448         Depok, Yogyakarta Province
449       Gejayan, Yogyakarta Province
450         Depok, Yogyakarta Province

                                                    2       3    4       5   \
0                                                  NaN     NaN  NaN    1019
1                                                  NaN     NaN  NaN    1020
2    Jl. Ps. Butuh, Gayam, Kepurun, Manisrenggo, Ka...  HOTELS    1  152202
3    Parangtritis Beach, Desa Parangrejo, RT 13/RW ...  HOTELS    4     NaN
4    Jalan Patangpuluhan No.23, Wirobrajan, Yogyaka...  HOTELS    3     NaN
..                                                 ...     ...  ...     ...
446  Jalan Magelang KM 1 No.61, Tegalrejo, Yogyakar...  HOTELS    2  385000
447  Jalan R.W. Monginsidi No.22B, Karangwaru, Tega...  HOTELS    0  224001
448  Jalan Laksda Adisucipto No.23, Depok, Yogyakar...  HOTELS    3  388000
449  Jalan Gejayan No. 27 A , Depok, Gejayan, Yogya...  HOTELS    3  378000
450  Jl. Nangka II No. 6 ,Karangnongko, Maguwoharjo...  HOTELS    0  266665

         6       7       8       9   ...    61    62    63    64    65    66  \
0       NaN    1020     NaN    1021  ...  1023  1024  1025  1026  1027  1028
1      1021    1022    1023    1024  ...   NaN   NaN   NaN   NaN   NaN   NaN
2    152464     NaN     NaN     NaN  ...   NaN   NaN   7.2   NaN   NaN   NaN
3       NaN     NaN     NaN     NaN  ...   8.3   NaN   8.3   8.3   8.3   NaN
4       NaN     NaN     NaN     NaN  ...   8.9   8.9   8.9   8.9   8.9   8.9
..      ...     ...     ...     ...  ...   ...   ...   ...   ...   ...   ...
446  400000  500000  600000  350000  ...   8.4   8.4   8.4   8.4   8.4   8.4
447  290667  277334  277334  304000  ...   8.5   8.5   8.5   8.5   8.5   8.6
448  388000  458000  558000  350500  ...   8.4   8.4   8.4   8.4   8.4   8.4
449  378000  428000  528000  340500  ...   8.5   8.5   8.5   8.5   8.5   8.5
450  266665  266665  266665  266665  ...     0     0     0     0     0     0

       67    68    69                                                 70
0    1029  1030  1031                                                NaN
1     NaN   NaN   NaN                                                NaN
2     NaN   7.2   7.2                        AC,Restaurant,Parking,WiFi,
3     NaN   8.3   8.3  AC,Restaurant,Swimming Pool,24-Hour Front Desk...
4     NaN   NaN   NaN  AC,Restaurant,Swimming Pool,24-Hour Front Desk...
..    ...   ...   ...                                                ...
446   8.4   8.4   8.4  AC,Restaurant,24-Hour Front Desk,Parking,Eleva...
447   8.6   8.5   8.5                AC,24-Hour Front Desk,Parking,WiFi,
448   8.4   8.4   8.4  AC,Restaurant,24-Hour Front Desk,Parking,Eleva...
449   8.5   8.5   8.5  AC,Restaurant,24-Hour Front Desk,Parking,Eleva...
450     0     0     0                AC,24-Hour Front Desk,Parking,WiFi,

[451 rows x 71 columns]