In [1]:
import pandas as pd
import numpy as np 
import openpyxl
from pathlib import Path

In [2]:
#Import data
df1 = pd.read_excel(r'C:\Users\Acer\OneDrive - Institut Teknologi Bandung\Magang BI\Data\Web Scraping Hotel\data fix 2\data_fix_Yogyakarta2.xlsx', sheet_name="Sheet1",engine = "openpyxl")
data1 = np.array(df1)
print(df1)

      Unnamed: 0                     Nama Hotel  Daerah  Alamat  Tipe  \
0            NaN                            NaN     NaN     NaN   NaN
1            NaN                            NaN     NaN     NaN   NaN
2            NaN         @HOM Platinum Gowongan     NaN     NaN   NaN
3            NaN           @HOM Premiere Timoho     NaN     NaN   NaN
4            NaN  @K Hotel Kaliurang Yogyakarta     NaN     NaN   NaN
...          ...                            ...     ...     ...   ...
2724         NaN                            NaN     NaN     NaN   NaN
2725         NaN                            NaN     NaN     NaN   NaN
2726         NaN                            NaN     NaN     NaN   NaN
2727         NaN                            NaN     NaN     NaN   NaN
2728         NaN                            NaN     NaN     NaN   NaN

      Bintang  Harga Awal  Unnamed: 7  Unnamed: 8  Unnamed: 9  ...  \
0         NaN      1111.0         NaN      1112.0         NaN  ...
1         NaN      1112.0      1119.0      1113.0      1120.0  ...
2         NaN         NaN         NaN         NaN         NaN  ...
3         NaN         NaN         NaN         NaN         NaN  ...
4         NaN         NaN         NaN         NaN         NaN  ...
...       ...         ...         ...         ...         ...  ...
2724      NaN         NaN         NaN         NaN         NaN  ...
2725      NaN         NaN         NaN         NaN         NaN  ...
2726      NaN         NaN         NaN         NaN         NaN  ...
2727      NaN         NaN         NaN         NaN         NaN  ...
2728      NaN         NaN         NaN         NaN         NaN  ...

      Unnamed: 48  Unnamed: 49  Unnamed: 50  Unnamed: 51  Unnamed: 52  \
0          1113.0       1114.0       1115.0       1116.0       1117.0
1             NaN          NaN          NaN          NaN          NaN
2             NaN          NaN          NaN          NaN          NaN
3             NaN          NaN          NaN          NaN          NaN
4             NaN          NaN          NaN          NaN          NaN
...           ...          ...          ...          ...          ...
2724          NaN          NaN          NaN          NaN          NaN
2725          NaN          NaN          NaN          NaN          NaN
2726          NaN          NaN          NaN          NaN          NaN
2727          NaN          NaN          NaN          NaN          NaN
2728          NaN          NaN          NaN          NaN          NaN

      Unnamed: 53  Unnamed: 54  Unnamed: 55  Fasilitas  Unnamed: 57
0          1118.0       1119.0       1120.0        NaN          NaN
1             NaN          NaN          NaN        NaN          NaN
2             NaN          NaN          NaN        NaN          NaN
3             NaN          NaN          NaN        NaN          NaN
4             NaN          NaN          NaN        NaN          NaN
...           ...          ...          ...        ...          ...
2724          NaN          NaN          NaN        NaN          NaN
2725          NaN          NaN          NaN        NaN          NaN
2726          NaN          NaN          NaN        NaN          NaN
2727          NaN          NaN          NaN        NaN          NaN
2728          NaN          NaN          NaN        NaN          NaN

[2729 rows x 58 columns]

In [ ]:
#index harga awal
#1111 H+1 = 6
#1111 H+7 = 7
#1112 H+1 = 8
#1112 H+7 = 9
#dst

#index harga diskon
#1111 H+1 = 26
#1111 H+7 = 27
#1112 H+1 = 28
#1112 H+7 = 29
#dst

#index rating
#1111 = 46
#1112 = 47
#1113 = 48
#1114 = 49
#dst

In [22]:
link = r'C:\Users\Acer\OneDrive - Institut Teknologi Bandung\Magang BI\Data\Web Scraping Hotel\1120\Traveloka\Yogyakarta\Yogyakarta_H+7.xlsx'
df2 = pd.read_excel(link, sheet_name="Sheet1",engine = "openpyxl")
data2 = np.array(df2)

for i in range(2,len(data1[:,1])):
    for j in range(len(data2[:,1])):
        if data1[i,1] == data2[j,1]:
            data1[i,25] = data2[j,5] #masukin harga awal
            data1[i,45] = data2[j,6] #masukin harga diskon
            data1[i,55] = data2[j,4] #masukin rating (sekali aja, h+7 aja)
            data1[i,2] = data2[j,3] #masukin daerah
            data1[i,5] = data2[j,2] #masukin bintang
            break

In [23]:
df_data = pd.DataFrame(data1)
print(df_data)
df_data.to_excel(r"C:\Users\Acer\Downloads\data_rapi_yogyakarta.xlsx")

       0                              1                                2   \
0     NaN                            NaN                              NaN
1     NaN                            NaN                              NaN
2     NaN         @HOM Platinum Gowongan       Jetis, Yogyakarta Province
3     NaN           @HOM Premiere Timoho  Umbulharjo, Yogyakarta Province
4     NaN  @K Hotel Kaliurang Yogyakarta   Kaliurang, Yogyakarta Province
...   ...                            ...                              ...
2724  NaN                            NaN                              NaN
2725  NaN                            NaN                              NaN
2726  NaN                            NaN                              NaN
2727  NaN                            NaN                              NaN
2728  NaN                            NaN                              NaN

       3    4    5       6       7        8       9   ...    48    49    50  \
0     NaN  NaN  NaN    1111     NaN     1112     NaN  ...  1113  1114  1115
1     NaN  NaN  NaN    1112    1119     1113    1120  ...   NaN   NaN   NaN
2     NaN  NaN    3     NaN     NaN      NaN     NaN  ...     0   NaN     0
3     NaN  NaN    3  476749     NaN      NaN     NaN  ...   8.6   8.6   8.6
4     NaN  NaN    4  850667  850667  1040000  850667  ...   8.4   8.4   8.4
...   ...  ...  ...     ...     ...      ...     ...  ...   ...   ...   ...
2724  NaN  NaN  NaN     NaN     NaN      NaN     NaN  ...   NaN   NaN   NaN
2725  NaN  NaN  NaN     NaN     NaN      NaN     NaN  ...   NaN   NaN   NaN
2726  NaN  NaN  NaN     NaN     NaN      NaN     NaN  ...   NaN   NaN   NaN
2727  NaN  NaN  NaN     NaN     NaN      NaN     NaN  ...   NaN   NaN   NaN
2728  NaN  NaN  NaN     NaN     NaN      NaN     NaN  ...   NaN   NaN   NaN

        51    52    53    54    55   56   57
0     1116  1117  1118  1119  1120  NaN  NaN
1      NaN   NaN   NaN   NaN   NaN  NaN  NaN
2        0     0   NaN   NaN     0  NaN  NaN
3      8.6   8.6   8.6   8.6   8.6  NaN  NaN
4      8.4   8.4   8.4   8.4   8.4  NaN  NaN
...    ...   ...   ...   ...   ...  ...  ...
2724   NaN   NaN   NaN   NaN   NaN  NaN  NaN
2725   NaN   NaN   NaN   NaN   NaN  NaN  NaN
2726   NaN   NaN   NaN   NaN   NaN  NaN  NaN
2727   NaN   NaN   NaN   NaN   NaN  NaN  NaN
2728   NaN   NaN   NaN   NaN   NaN  NaN  NaN

[2729 rows x 58 columns]